# emacs
*~
*\#*

realtime-preview-result.html
.pry_history
.bash_history
*/.emacs.d/.emacs.desktop*
*/.emacs.d/.framesize.el
*/.emacs.d/.framesize*
*/.emacs.d/ac-comphist.dat
*/.emacs.d/server/*
*/.emacs.d/emacs_backtrace.txt

