<?xml version="1.0" encoding="utf-8"?>
<packages>
  
  <!--
      バージョン指定方法が不明。。。
      以下の感じで動作するかはためしていない
      <package id="test" version="1.x">
      
      
      それなりに必要そーなものをサンプルとして以下に記述 
  -->

  <!-- editor -->
  <package id="emacs" />
  <package id="xyzzy" />
  <package id="bzeditor" />
  <package id="winmerge-jp" />
  <package id="visualstudiocode" />
  
  <!-- utility -->
  <package id="conemu" />
  <package id="chgkey" />
  <package id="7zip" />
  <package id="nodejs.install" />
  <package id="dependencywalker" />

  <!-- terminal -->
  <package id="putty.portable" />
  <package id="teraterm" />
  
  <!-- tab utility -->
  <package id="clover" />
  <package id="qttabbar" />
  
  <!-- file utility -->
  <package id="crystaldiskinfo" />
  <package id="crystaldiskmark" />
  
  <!-- git -->
  <package id="git.commandline" />
  <package id="sourcetree" />
  
  <!-- browser -->
  <package id="google-chrome-x64" />
  <package id="firefox" />
  
  <!-- db -->
  <package id="postgresql" />
  <package id="mariadb" />
  <package id="mysql" />
  
  <!-- office viewer -->
  <package id="excel.viewer" />
  <package id="word.viewer" />
  <package id="powerpoint.viewer" />
  
</packages>
