[user]
	name = Kazunori OYA
	email = kazunori.oya@nsware.co.jp
[push]
	default = simple
[core]
	quotepath = false
	autocrlf = false
	editor = C:/tools/emacs/bin/emacsclientw.exe
	attributesfile = ~/.gitattributes
[url "https://"]
	insteadOf = git://
[http]
	sslVerify = false
[https]

[diff "astextplain"]
	textconv = my_astextplain
